<div class="card bg-light mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-md-3">
                <img src="/static/img/tass_f.jpg", alt="", height="40", class="rounded-circle">
                {{comment.author.login}}
            </div>

            <div class="col-md-4">
                
            </div>
            <div class="col-md-5">
                <div class="custom-control custom-checkbox">

                    {% if comment.is_correct %} <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
                    {% else %}
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    {% endif %}
                  
                  <label class="form-check-label" for="defaultCheck1">Правильный ответ</label>
                </div>
            </div>
            
            
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col ">
                <p class="text-left">{{comment.text}}</p>
            </div>
            
        </div>
    </div>
</div>
