<!-- <form  action="/question/", method="post">
	{% csrf_token %}
   	{{ comment }}



  	<div class="form-group ">
    	<label for="comment_text">Ваш Ответ</label>
    	<textarea class="form-control" id="comment_text" rows="3"></textarea>

    	
    
  	</div>
  	<button type="submit" value="Submit" class="btn btn-primary mb-2">Отправить</button>
</form> -->

<form action="/question/" method="POST">
{% csrf_token %}
<span class="forms col-lg-12 col-md-12 col-sm-12">
    <br>
    <label class="txt" for="comment" ><h3>Ваш Ответ: </h3></label>
    <textarea class="form-control" id="comment" rows="5" name="comment"
              placeholder="Максимально {{comment_max_lenght}} символов"
              required>{{comment}}</textarea>
    <br>
    {% if error_in_comment == INCORRECT_INPUT %}
		<div class="alert alert-warning" role="alert">
	  		<p>{{ error_in_comment_message }}</p>
		</div>
	{% endif %}
    <input class="submit btn btn-primary" role="button" type="submit" value="Отправить"/>
</span>
</form>
