{% extends "base.html" %}



{% block content %}

{% if questions %}
    {% for q in questions %}
        {% include "questions/all_question.html" %}
    {% endfor %}
{% else %}
    <div class="col-md-4 question-list-item">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">Данные не найдены</div>
    <div class="card-body">
      <!-- <h5 class="card-title">Light card title</h5> -->
    <p>Миньоны не нашли на сервере запрошенных данных((</p>
      
    </div>
    </div>
    
    </div>
    </div>
{% endif %}
    
    {% include "pagination.html" with object_list=questions %}



{% endblock %}