<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if object_list.has_previous %}
            <a class="btn btn-outline-secondary btn-outline-info" role="button" href="?page={{ object_list.previous_page_number }}" >Туда</a>
            
        {% endif %}

        <button class="btn btn-outline-secondary disabled">{{ object_list.number }} из {{ object_list.paginator.num_pages }}</button>

        {% if object_list.has_next %}
            <a class="btn btn-outline-secondary btn-outline-info" role="button" href="?page={{ object_list.next_page_number }}">Сюда</a>
        {% endif %}
    </ul>
</nav>
